// This stylesheet will be injected into the frame containing the controls to
// exclude oneself from Piwik analytics.

@import 'base';

html {
	height: auto;
}

body {
	box-sizing: border-box;
	max-width: $paragraph-max-width;

	line-height: $text-line-height;
}

form {
	display: flex;
	align-items: center;

	margin-left: $paragraph-indent;
}

// input
[name=trackVisits] {
	flex-shrink: 0;

	margin-left: .7em;
}

// label
[for=trackVisits] {
	margin-left: 1em;
	margin-right: 2em;
}
