@import 'responsive';

$layout-change: 36em;

.tutoren {
	display: flex;

	margin-top: 3em;

	flex-direction: column;
}

.tutor {
	margin-top: -10%;

	@include from-width(40em) {
		margin-top: -5%;
	}

	@include from-width($layout-change) {
		margin-top: 2em;
	}

	&:first-child {
		margin-top: 0;
	}

	img {
		border-radius: .5em;

		width: 30%;

		@include from-width($layout-change) {
			width: 40%;
		}
	}

	span {
		display: inline-block;

		width: 30%;

		@include from-width($layout-change) {
			width: 55%;
		}
	}

	h3 {
		margin-top: 1em;
		margin-bottom: .5em;
	}

	p {
		margin: 0;
	}

	&:nth-child(odd) {
		img {
			float: left;

			margin-right: 3%;
		}
	}

	&:nth-child(even) {
		text-align: right;

		img {
			float: right;

			margin-left: 3%;
		}
	}
}
