$time-width: 5rem;
$time-spacing: 1rem;

.day {
	margin-bottom: 1.5rem;

	&:first-of-type {
		margin-top: 3rem;
	}

	h3 {
		width: auto;
	}

	.date {
		margin-left: .8em;

		vertical-align: .2em;

		font-size: .9rem;
	}
}

.event {
	clear: both;

	margin-top: .3rem;
	margin-left: .5rem;

	.time {
		display: block;

		float: left;

		margin-top: .1em;

		width: $time-width;

		vertical-align: baseline;
		text-align: right;

		font-size: .9rem;
	}



	h4 {
		display: inline-block;

		margin: 0;
		margin-left: $time-spacing;

		line-height: 1rem;

		font-size: 1.1rem;
	}

	h5 {
		margin: 0;
		margin-top: .2em;
		font-size: 1rem;
		margin-left: $time-width + $time-spacing;
		font-style: italic;
	}

	p {
		margin-top: .2em;
		margin-left: $time-width + $time-spacing;
	}

	.place {
		display: block;

		font-size: .9rem;
	}

	.osm {
		margin-left: .4em;

		img {
			width: auto;
			height: 1.1em;

			vertical-align: -.2em;
		}
	}
}
