extends ../layout/page.pug

block properties
	- const Titel = 'Ausschluss von der Webanalyse'
	- const Link = '/analyseausschluss'
	- const Schlagwörter = 'Analyse,Piwik'
	
block append style
	+stylesheet('/style/analyseausschluss.css')

block append meta
	meta(name='robots',content='noindex,follow')
	
//- do not track visitors coming to this page.
block tracking
	

block main
	h1 Ausschluss von der Webanalyse
	iframe#piwikexclude(src='https://analytics.studierlangsam.de/index.php?module=CoreAdminHome&action=optOut&idsite=3&language=de')
