extends ../layout/page.pug

block properties
	- const Titel = 'Impressum'
	- const Link = '/impressum'

block append style
	+stylesheet('/style/impressum.css')

block main
	h1 Impressum

	h3 Kontakt
	p Wir sind für alle Fragen unter #[+maillink('tutoren@studierlangsam.de')] erreichbar.

	h3 Rechte
	p
		+extlink('http://creativecommons.org/licenses/by-sa/4.0/')(rel='license',class='cc-logo')
			img(alt='Creative Commons Lizenzvertrag',src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png')
		| Diese Webseite ist lizenziert unter einer #[+extlink('http://creativecommons.org/licenses/by-sa/4.0/')(rel='license') Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz]. Graphiken und Bilder sind urheberrechtlich geschützt. Der Quellcode ist #[+extlink('http://git.joshuagleitze.de/studierlangsam.de/') online] verfügbar.

	p Das Studierlangsam-Logo und -Banner wurde von #[+extlink('http://www.artbuexxe.de/') Artbüxxe] gestaltet und ist urheberrechtlich geschützt.
	p Emojis werden von #[+extlink('http://emojione.com/') EmojiOne] zur Verfügung gestellt und stehen unter der #[+extlink('https://creativecommons.org/licenses/by/4.0/legalcode') CC-BY].

	h3 Statistiken
	p Auf dieser Website werden mit #[+extlink('http://de.piwik.org') Piwik], einem Open-Source Web-Analyse-Tool, Daten zu Analyse- und Optimierungszwecken gesammelt und gespeichert. Aus diesen Daten können unter einem Pseudonym Nutzungsprofile erstellt werden. Hierzu werden Cookies eingesetzt. Bei Cookies handelt es sich um kleine Textdateien, die lokal im Zwischenspeicher des Internet-Browsers des Seitenbesuchers gespeichert werden. Die Cookies ermöglichen die Wiedererkennung des Internet-Browsers. Die mit Piwik erhobenen Daten werden ohne die gesondert erteilte Zustimmung des Betroffenen nicht dazu benutzt, den Besucher dieser Website persönlich zu identifizieren und auch nicht mit personenbezogenen Daten über den Träger des Pseudonyms zusammengeführt. Die Adresse ihres Computers (IP-Adresse) wurde anonymisiert (Entfernung des letzten Bytes) bevor sie an Piwik wurde.
