extends ../layout/base.pug

block append style
	+stylesheet('style/index.css')


block prepend content
	.banner
		img(src='graphic/banner.svg',alt='Studier Langsam – jetzt erst recht!')

block append main 
	h2 Hallo Ersti!
	p #[a(href='tutoren') Wir] sind die O-Phasen-Gruppe „Studier Langsam“ für Mathematiker und Informatiker. Vom #[strong 8.] bis zum #[strong 13. Oktober] ist wieder #[+extlink('https://o-phase.com') O-Phase] für alle Erstis am #[+extlink('https://www.kit.edu') KIT]. Wir würden uns freuen, dich bei uns begrüßen zu dürfen!
	p Wir sind eine Gruppe von Bachelor-Studenten und euch erwartet bei uns eine abwechslungs&shy;reiche Woche mit Bowling, Brunch und Cocktail&shy;abend. Wir zeigen euch, was ihr fürs erfolg&shy;reiche Studieren in Karlsruhe alles wissen müsst. Auch nach der O-Phase treffen wir uns noch regel&shy;mäßig zu Stamm&shy;tischen im Z10 oder Schloss&shy;park, die wir mit Spielen, philo&shy;sophischen Diskussionen und schlechten Wortwitzen verbringen. Aber vor allem: Kommt zu uns, wir haben Kekse! #[+emoji('cookie')]
	p Hier findest du Informationen über uns, die O-Phase und das Studium am KIT.
