extends ../layout/base.pug

block append style
	+stylesheet('style/index.css')


block prepend content
	.banner
		img(src='graphic/banner.svg',alt='Studier Langsam – jetzt erst recht!')

block append main
	h2 Hallo du!

	p.
		Willkommen bei Studier Langsam!

	p.
		Bei uns erwartet dich eine abwechslungsreiche O-Phase mit Spiele- sowie Cocktailabend, 
		gemeinsamem Essen, und weiteren spannenden Aktivitäten in Karlsruhe und um den Campus. 
		Dabei lernst du deine zukünftigen Mitstudierenden kennen und kannst hier neue Freund:innen finden. 
		Auch nach der O-Phase treffen wir uns regelmäßig zu Stammtischen, die wir mit Spielen, Gesprächen, Diskussionen und schlechten Wortwitzen verbringen. 
		Aber vor allem: Komm zu uns, denn wir haben Kekse! #[+emoji('cookie')]

	p.
		Auf dieser Seite findest du Informationen über uns, die O-Phase und das Studium am KIT.
