extends ../layout/base.pug

block append style
	+stylesheet('style/index.css')


block prepend content
	.banner
		img(src='graphic/banner.svg',alt='Studier Langsam – jetzt erst recht!')

block append main
	h2 Hallo Ersti!

	p.
		Wir sind die O-Phasen-Gruppe „Studier Langsam“ für Mathematiker:innen und Informatiker:innen. 
		Vom 1. bis zum 16. Oktober ist wieder O-Phase für alle Erstis am KIT. 
		Wir würden uns freuen, dich bei uns begrüßen zu dürfen!

	p.
		Bei uns erwarten dich zwei abwechslungsreiche Wochen mit Treffen in Kleingruppen sowie verschiedenem Programm. 
		Dazu gehörten ein Spieleabend, Fragestunden zum Studium und mehr. 
		Wir zeigen dir insbesondere, was du fürs erfolgreiche Studieren in Karlsruhe alles wissen musst. 
		Auch nach der O-Phase treffen wir uns noch regelmäßig zu Stammtischen online, im Z10 oder Schlosspark, die wir mit Spielen, philosophischen Diskussionen und schlechten Wortwitzen verbringen. 
		Aber vor allem: Komm zu uns, wir haben Kekse! #[+emoji('cookie')]

	p.
		Auf dieser Seite findest du Informationen über uns, die O-Phase und das Studium am KIT.
