extends ../layout/page.pug

block properties
	- const Titel = 'Informationen'
	- const Link = '/infos'
	- const Schlagwörter = 'Fragen,FAQ,Informationen,Antworten'

mixin Frage
	h3
		block

mixin Antwort
	p
		block

block main
	h1 Fragen und Antworten
	p Auf viele Fragen hat die Fachschaft schon auf ihrer #[+extlink('https://o-phase.com/de/faq-ws-corona/') FAQ-Seite] Antwort gegeben. Solltest du noch Fragen haben, die hier nicht beantwortet werden, dann schreib uns unter #[+maillink('tutoren@studierlangsam.de')]!

	+Frage Kann ich auch teilnehmen, wenn ich nicht nach Karlsruhe kommen kann?
	+Antwort Wir empfehlen euch allen, nach Karlsruhe zu kommen, da diese O-Phase hauptsächlich in Präsenz stattfinden wird. Natürlich könnt ihr uns trotzdem jegliche Fragen auf unserem Discord-Server stellen. 

	+Frage Wie haltet ihr die Corona-Maßnahmen ein?
	+Antwort Wir halten uns an die Regeln der Fachschaft, sowie an jegliche Vorschriften der Corona-Verordnung des Landes. Deshalb kann es auch während der O-Phase dazu kommen, dass wir auf 2G (nur geimpfte und genesene Erstis) umstellen müssen, 3G (zusätzlich auch tagesaktuelle Schnelltests ausreichend) wird mindestens gelten. Bei Veranstaltungen drinnen wird es ein Hygienekonzept geben, sodass ihr eine möglichst sichere Präsenz-O-Phase haben könnt. 

	+Frage Wie laufen die Treffen vor Ort ab?
	+Antwort Ihr trefft euch am Montag mit eurer Kleingruppe und euren Tutor:innen. Dort kontrollieren wir eure Corona-Zertifikate. Anschließend startet wie in den vorherigen Wochen unser #[a(href='wochenplan') Programm], bei dem natürlich auch auf eure Sicherheit geachtet wird.

	+Frage Gibt es Studier Langsam auch noch nach der O-Phase?
	+Antwort Ja klar! Wir haben nach der O-Phase regelmäßige (Online-)Stammtische und weitere Aktionen. Wenn es die Pandemie zulässt, treffen wir uns im Sommer auch viel im Schlossgarten. Außerdem freuen wir uns immer über neue Tutor:innen in der nächsten O-Phase.

	+Frage Wird bei euch Alkohol getrunken?
	+Antwort Bei Studier Langsam gilt das Motto: "Bei uns kann man auch mit Alkohol Spaß haben". Bei allen unseren Veranstaltungen ist Alkohol weder verpflichtend noch erwartet, und du wirst viele Menschen finden die nicht trinken. Es spricht aber natürlich nichts dagegen, dass du Alkohol trinkst, sofern du möchtest.

	+Frage Muss ich mich zur O-Phase anmelden?
	+Antwort Ja! Aufgrund der Corona-Pandemie musst du dich dieses Jahr auf #[+extlink('https://o-phase.com') o-phase.com] registrieren. Das musst du bis zum 2. Oktober um 12:00 Uhr getan haben.

	+Frage Ist Studieren schwierig?
	+Antwort Ja. Studieren ist anstrengend und viel Arbeit. Die Prüfungen an der Uni sind deutlich schwieriger als die in der Schule. Aber da wächst jeder irgendwie rein. Und zu viel Stress darf man sich auch nicht machen. Du weißt ja: Studier langsam! #[+emoji('wink')]

	+Frage Warum wollen alle, dass ich schon Kontakte knüpfe, bevor ich überhaupt angefangen habe, zu studieren?
	+Antwort Studieren ist ein Mannschaftssport. Gerade durch die Mathevorlesungen am Anfang des Studiums kommt man viel leichter, wenn man eine Lerngruppe hat, mit der man Aufgaben lösen und sich austauschen kann. Und die meisten von uns habe ihre Lerngruppe (und viele Freund:innen!) in der O-Phase gefunden.

	+Frage Was ist ein Ersti?
	+Antwort „Ersti“ ist kurz für „Erstsemester“ – also ein Spitzname für die neuen Student:innen an der Uni.

	+Frage Wo kann ich Hilfe bekommen, wenn ich welche brauche?
	+Antwort Der Beginn eines Studiums ist eine neue und unbekannte Situation, die dich vielleicht überfordert. Jetzt aber die gute Nachricht: Es gibt an der Uni super viele Angebote, die dir helfen können.

	ul 
		li 
			p Dir fehlt der Anschluss innerhalb von Studier Langsam? Du fühlst dich unwohl in unserer Gruppe? Du hast ein Problem mit einem anderen Ersti oder einem/einer Tutor:in?
			p Du kannst dich jederzeit an alle Tutor:inn:en unter #[+maillink('tutoren@studierlangsam.de')], direkt an einzelne Tutoren oder bei der Fachschaft unter #[+maillink('kontakt@o-phase.com')] melden
		li 
			p Du hast Probleme mit deinem Studium? Du bist dir nicht sicher, ob dieses Studium bzw. diese Uni die richtige für dich ist?
			p Sprich einen unserer Tutor:inn:en an oder geh mal in der Fachschaft Mathemathik Informatik #[+extlink('https://www.sw-ka.de/de/beratung/psychologisch/psychotherapeutische_beratungsstelle_karlsruhe/')] vorbei (Gebäude 50.34, Raum -124 bzw. Gebäude 20.30, Zimmer 0.002). Dort ist eigentlich immer jemand, der dir gerne hilft :)
		li
			p Prüfungsangst? Konzentrationsschwierigkeiten? Selbstwertprobleme? Einsamkeit? Beziehungskonflikte? Angst vor der Zukunft?
			p Sprich gerne mit einem unserer Tutor:inn:en oder deinen Kommiliton:inn:en. Wenn du einfach jemanden zum Zuhören brauchst, ruf bei der Nightline #[+extlink('https://www.nightline-karlsruhe.de/')] an. Ansonsten kannst du dich aber auch an die Psychotherapeutische Beratungsstelle (PBS) des Studierendenwerk Karlsruhe #[+extlink('https://www.sw-ka.de/de/beratung/psychologisch/psychotherapeutische_beratungsstelle_karlsruhe/')] wenden
		li 
			p Du bist in einer finanziellen Notlage? Du braucht Beratung durch einen erfahren Anwalt? Du fühlst dich sexuell oder kulturell diskriminiert? Du hast Fragen oder Probleme im Zusammenhang mit sexueller Orientierung und Identität?
			p Bei all diesen Problem kann dir das Beratungsangebot des AStA helfen #[+extlink('https://www.asta-kit.de/de/angebote/beratung')].