extends ../layout/page.pug

block properties
	- const Titel = 'Informationen'
	- const Link = '/infos'
	- const Schlagwörter = 'Fragen,FAQ,Informationen,Antworten'

mixin Frage
	h3
		block

mixin Antwort
	p
		block

block main
	h1 Fragen und Antworten
	p Auf viele Fragen hat die Fachschaft schon auf ihrer #[+extlink('https://o-phase.com/de/faq-ws-corona/') FAQ-Seite] Antwort gegeben. Solltest du noch Fragen haben, die hier nicht beantwortet werden, dann schreib uns unter #[+maillink('tutoren@studierlangsam.de')]!

	+Frage Kann ich auch teilnehmen, wenn ich nicht nach Karlsruhe kommen kann?
	+Antwort Ja natürlich! Unsere O-Phase wird dieses Jahr auch digital stattfinden.

	+Frage Wie haltet ihr die Corona-Maßnahmen ein?
	+Antwort Wir halten die Corona-Maßnahmen ein, indem wir uns an ein speziell zu dieser O-Phase ausgearbeitetes Hygienekonzept der Fachschaft Mathematik und Informatik halten, welches mit dem Gesundheitsamt abgesprochen ist. Ebenso halten wir uns an die Maßnahmen der Universität, der Stadt und des Landes.

	+Frage Wie laufen die Treffen vor Ort ab?
	+Antwort Falls Treffen vor Ort stattfinden (diese können bei steigenden Zahlen auch abgesagt werden!) macht jede Kleingruppe das von ihnen ausgewählte Programm im Einklang mit dem Hygienekonzept.

	+Frage Gibt es Studier Langsam auch noch nach der O-Phase?
	+Antwort Ja klar! Wir haben nach der O-Phase regelmäßige (Online-)Stammtische und weitere Aktionen. Wenn es die Pandemie zulässt, treffen wir uns im Sommer auch viel im Schlossgarten. Außerdem freuen wir uns immer über neue Tutoren in der nächsten O-Phase.

	+Frage Habe ich bei euch auch Spaß, wenn ich keinen Alkohol trinke?
	+Antwort Definitiv. Es gibt andere O-Phasen-Gruppen, bei denen das Trinken deutlich im Vordergrund steht. Wir legen dagegen mehr Wert darauf, Kontakte zu knüpfen und coole Aktionen zu veranstalten. Und wenn wir abends weggehen, haben auch die Nicht-Alkoholiker ihren Spaß.

	+Frage Muss ich mich zur O-Phase anmelden?
	+Antwort Ja! Aufgrund der Corona-Pandemie musst du dich dieses Jahr auf [+extlink('https://o-phase.com') o-phase.com] registrieren. Das musst du bis zum 16. Oktober um 18:00 Uhr getan haben.

	+Frage Ist Studieren schwierig?
	+Antwort Ja. Studieren ist anstrengend und viel Arbeit. Die Prüfungen an der Uni sind deutlich schwieriger als die in der Schule. Aber da wächst jeder irgendwie rein. Und zu viel Stress darf man sich auch nicht machen. Du weißt ja: Studier langsam! #[+emoji('wink')]

	+Frage Warum wollen alle, dass ich schon Kontakte knüpfe, bevor ich überhaupt angefangen habe, zu studieren?
	+Antwort Studieren ist ein Mannschaftssport. Gerade durch die Mathevorlesungen am Anfang des Studiums kommt man viel leichter, wenn man eine Lerngruppe hat, mit der man Aufgaben lösen und sich austauschen kann. Und die meisten von uns habe ihre Lerngruppe (und viele Freund:inn:e:n!) in der O-Phase gefunden.

	+Frage Was ist ein Ersti?
	+Antwort „Ersti“ ist kurz für „Erstsemester“ – also ein Spitzname für die neuen Student:inn:en an der Uni.
