include mixins/stylesheet.pug
include mixins/links.pug
include mixins/emoji.pug

mixin navlink(href)
	a(href=href,class=(href === Link ? 'here' : false))
		block

block properties

doctype html
html(lang='de')
	head
		meta(charset='UTF-8')
		title= (Titel ? Titel + ' – ' : '') + 'Studier Langsam'

		block meta
			meta(name='keywords',content='Studier Langsam,KIT,O-Phase,Studenten,Ersti' + (Schlagwörter ? ',' : '') + Schlagwörter + ',Semesterbeginn,Karlsruhe,Karlsruher Institut für Technologie')
			meta(name='viewport',content='width=device-width, initial-scale=1')

		block style
			+stylesheet('/style/base.css')
			style.
				/* 'https://fonts.googleapis.com/css?family=Coda:800 */
				@font-face {
					font-family: 'Coda';
					font-style: normal;
					font-weight: 800;
					src: local('Coda Heavy'), local('Coda-Heavy'), url(https://fonts.gstatic.com/s/coda/v11/HfZzsBW2eqpsWXkIkeLL_Q.woff2) format('woff2');
					unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
				}

	body
		block tracking
			include parts/piwik-tracking.pug

		block content
			nav
				block navigation
					+navlink('/tutoren') Tutoren
					+navlink('/infos') Infos
					+navlink('/wochenplan') Wochenplan
			main
				block main
			footer
				a(href='/impressum') Impressum
				| |
				+maillink('tutoren@studierlangsam.de')
