script(type='text/javascript').
	var _paq = _paq || [];
	_paq.push(["setCookieDomain", "*.studierlangsam.de"]);
	_paq.push(["setDomains", ["*.studierlangsam.de","*.studierlangsam.de"]]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="https://analytics.studierlangsam.de/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '3']);
		// heart beat timer: track user’s time spent on the site.
		_paq.push(['enableHeartBeatTimer', 10]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
noscript
	p
		img(src='https://analytics.joshuagleitze.de/piwik.php?idsite=3',style='border:0;', alt='')
