@use 'responsive';

$footer-height: 1.5rem;

$navigation-height: 3rem;
$navigation-bottom-pad: .2rem;
$navigation-top-pad: .3rem;

$paragraph-indent: 1.5rem;
$paragraph-max-width: 42rem;

$text-line-height: 1.4;

$max-content-width: 1000px;
$content-width: clamp(responsive.$mobile, 80vw, $max-content-width)