$time-width: 5rem;
$time-spacing: 1rem;
$slots: 16;

@for $s from 0 to $slots {
	@for $e from $s + 1 through $slots {
		.wp-#{$s}-#{$e} {
			grid-row-start: $s;
			grid-row-end: $e;
		}
	}
}

.wochenplan {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	width: 100%;
	.day {
		width: 100%;

		.events {
			display: grid;
			grid-template-rows: repeat($slots,calc(90vh/$slots));
		}

		h3, h4 {
			text-align: center;
		}

		.event {
			border-radius: 0.5em;
			background-color: #a7d65c;

			h4 {
				margin: 0;
				padding: 0.25em 0.5em 0em;
				font-size: larger;
			}
		}

	}
}



// .day {
// 	margin-bottom: 1.5rem;

// 	&:first-of-type {
// 		margin-top: 3rem;
// 	}

// 	h3 {
// 		width: auto;
// 	}

// 	.date {
// 		margin-left: .8em;

// 		vertical-align: .2em;

// 		font-size: .9rem;
// 	}
// }

// .event {
// 	clear: both;

// 	margin-top: .3rem;
// 	margin-left: .5rem;

// 	.time {
// 		display: block;

// 		float: left;

// 		margin-top: .1em;

// 		width: $time-width;

// 		vertical-align: baseline;
// 		text-align: right;

// 		font-size: .9rem;
// 	}

// 	h4 {
// 		display: inline-block;

// 		margin: 0;
// 		margin-left: $time-spacing;

// 		line-height: 1rem;

// 		font-size: 1.1rem;
// 	}

// 	h5 {
// 		margin: 0;
// 		margin-top: .2em;
// 		margin-left: $time-width + $time-spacing;

// 		font-size: 1rem;
// 		font-style: italic;
// 	}

// 	p {
// 		margin-top: .2em;
// 		margin-left: $time-width + $time-spacing;
// 	}

// 	.place {
// 		display: block;

// 		font-size: .9rem;

// 		.alternative {
// 			display: block;
// 		}
// 	}

// 	.osm {
// 		margin-left: .4em;

// 		img {
// 			width: auto;
// 			height: 1.1em;

// 			vertical-align: -.2em;
// 		}
// 	}
// }
