extends ../layout/page.pug

block properties
	- const Titel = 'Impressum'
	- const Link = '/impressum'
	- const Schlagwörter = 'Kontakt,Impressum'

block append style
	+stylesheet('/style/impressum.css')

block append meta
	meta(name='robots', content='noindex,follow')

block main
	h1 Impressum

	h3 Kontakt
	p Wir sind für alle Fragen unter #[+maillink('tutoren@studierlangsam.de')] erreichbar.

	h3 Rechte
	p
		+extlink('https://creativecommons.org/licenses/by-sa/4.0/')(rel='license',class='cc-logo')
			img(alt='Creative Commons Lizenzvertrag',src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png')
		| Diese Webseite ist lizenziert unter einer #[+extlink('https://creativecommons.org/licenses/by-sa/4.0/')(rel='license') Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz]. Graphiken und Bilder sind urheberrechtlich geschützt. Der Quellcode ist #[+extlink('https://github.com/studierlangsam/webseite') online] verfügbar.

	p Das Studierlangsam-Logo und -Banner wurde von #[+extlink('http://www.artbuexxe.de/') Artbüxxe] gestaltet und ist urheberrechtlich geschützt.
	p Emojis werden von #[+extlink('https://emojione.com/') EmojiOne] zur Verfügung gestellt und stehen unter den #[+extlink('https://creativecommons.org/licenses/by/4.0/') CC-BY]. Das #[+extlink('https://wiki.openstreetmap.org/wiki/File:Public-images-osm_logo.svg') Open Street Map Logo] steht unter den #[+extlink('https://creativecommons.org/licenses/by-sa/3.0/de/') CC-BY-SA].
