- const emojione = require('emojione')
- emojione.imageType = 'svg'

mixin emoji(name)
	// emojione uses the standby attribute, which is deprecated
	span!= emojione.shortnameToImage(`:${name}:`).replace(/standby=".*?"/, '')
